.logo_container {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: all;
    display: inline-block;
    padding: 0.625rem;
    color: inherit;
    z-index: 900;
    color: #000000;
    transition: color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.logo {
    font-family: "pixy";
    line-height: 0.6;
    font-size: 5rem;
    transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
}

[data-nav = "closed"] .logo {
    color : black
}


[data-nav = "open"] .logo {
    color : white
}